<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="assets/images/users/profile.png" alt="user" /><span class="hide-menu">Steave Jobs </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/mi-perfil" routerLinkActive="active" class="pointer">Mi Perfil </a></li>
                        <li><a routerLink="/notificaciones-recibidas" routerLinkActive="active" class="pointer">Notificaciones</a></li>
                        <li><a routerLink="/tema" routerLinkActive="active" class="pointer">Temas</a></li>
                        <li><a routerLink="/login" class="pointer">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>

                <li class="nav-small-cap">Menú de Opciones</li>

                <li *ngFor="let menu of sidebarService.menu">
                    <a *ngIf="!menu.subMenu.length" [routerLink]="menu.url" routerLinkActive="active"><i [class]="menu.icon"></i><span class="hide-menu">{{menu.title}}</span></a>
                    <a *ngIf="menu.subMenu.length" class="has-arrow waves-effect waves-dark" aria-expanded="false"><i [class]="menu.icon"></i><span class="hide-menu">{{menu.title}}</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let subMenu of menu.subMenu">
                            <a [routerLink]="subMenu.url" routerLinkActive="active">{{subMenu.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>